<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Project name</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">DashBoard</a></li>
                    <li><a href="/servermgmt/">InfraCapacity</a></li>
                    <li><a href="#contact">Monitor</a></li>
                    <li><a href="#contact">Assets</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li id="show_user">
                        {% block show_user %}
                        <a href="/admin/auth/user/">
                        {% if user.is_authenticated %}
                            Welcome:<b>{{ user.username }}</b>
                        {% endif %}</a>
                        {% endblock %}
                    </li>
                    <li class="divider-vertical">
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Configuration<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/logout/">Logout</a>
                            </li>
                            <li>
                                <a href="/admin/">AdminCenter</a>
                            </li>
                            <li>
                                <a href="#">Others</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Link3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div id="page-content" class="hero-unit clearfix" style="background-color: #464646;">
        {% block page-content %}
        <div class="pull-left span5">
            <h1 style="color:#fff "><span style="color: #F5821F;text-shadow: #000 1px 5px 10px">Welcome</span> to Infrastructure APAC Site</h1>
            <p>A one stop resource for web designers and developers</p>
            <p><a class="btn btn-primary btn-large">Explore our articles</a></p>
        </div>
        <div class="pull-right">
            <form class="well" action="/login/" method="POST">
                <label>Username</label>
                <input type="text" class="span3" name="username" placeholder="Type your username">
                <label>Password</label>
                <input type="password" class="span3" name="password" placeholder="Type your password">
                <label class="checkbox">
                    <input type="checkbox">Remember me
                </label>
                {{ login_err }}
                <button type="submit" class="btn">Log me in</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="thumbnail">
                <img alt="" src="http://placehold.it/370x180">
                <div class="caption">
                    <h5>Thumbnail label</h5>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="thumbnail">
                <img alt="" src="http://placehold.it/370x180">
                <div class="caption">
                    <h5>Thumbnail label</h5>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
                </div>
            </div>
        </div>
        <div class="span4">
            <a class="thumbnail" href="#">
                <img alt="" src="http://placehold.it/370x300">
            </a>
        </div>
        {% endblock %}
    </div>
    <footer>
        <p>? Company {{ get_time }}</p>
    </footer>
</div> <!-- /container -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.js"></script>
</body>
</html>