{% extends "index.html" %}
{% block page-content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="tabbable" id="tabs-172583">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-681378" data-toggle="tab">CMD Excution</a>
                        </li>
                        <li>
                            <a href="#panel-648423" data-toggle="tab">File Transfer</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-681378">
                            <form id="run_cmd" action="/runcmd/" method="get">
                            <p>
                                <b>Group List:</b>
                                {% for g_name in group_list %}
                                    <label class="checkbox">
                                    <input type="checkbox" name="{{ g_name.name }}">
                                    <b>{{ g_name.name }}</b>
                                        <a href="javascript:void(0)" onclick="showlist(this)" id={{ g_name.name }}>View</a><br/>
                                    </label>
                                    <div style="font-size: 20%;color: orange;" id="{{ g_name.name }}_div"></div>
                                {% endfor %}
                            </p>

                            <select id="id_select" name="SelectUser" class="form-control">
                                {% if remote_user_list %}
                                    {% for user in remote_user_list %}
                                        <option value={{ user.name }}> {{ user.name }}
                                    {% endfor %}
                                {% else %}
                                    <option value="NoUser">No valid user</option>
                                {% endif %}
                            </select>
                            <input type="text" name="cmd" class="input-xxlarge">
                            <input class="btn btn-info" type="button" onclick="formSubmit()" id="run_cmd2" value="Run command">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="panel-648423">
            <p id="cmd_result">
                cmd stuff
            </p>
        </div>
    </div>
    <script type="text/javascript">
    function showlist(ele){
        var id = $(ele).attr("id");
        $.get('/get_ip_list/',{Action:"GET",Name:id}, function (data, status) {
            var content = document.getElementById(id+"_div");
            var ip_dic = JSON.parse(data);
{#                var num = ip_dic.length;#}
            content.innerHTML = "<b>Server List:<b><br>";
            $.each(ip_dic, function (key, value) {
{#                alert(key);#}
                $('#'+id+"_div").append(key+"&nbsp&nbsp"+value.os+"&nbsp&nbsp"+value.IP+"<br/>");
            });
{#            content.innerHTML = "Server List: "+"<br/>"+data#}
        });
    };
    function formSubmit(){
        $.post("/runcmd/",$("#run_cmd").serialize()).done(function (track_mark) {
            var auto_refresh = setInterval(
                    function(){
                        $.get('/getcmdresult/',{'TrackMark':track_mark},function(return_data){
                            var content = document.getElementById('cmd_result');
                            var CMD_RESULT = JSON.parse(return_data);
                            $("#cmd_result").html("");
                            $.each(CMD_RESULT,function(ip,value){
                                $('#cmd_result').append(ip + "--&nbsp&nbsp" + value.result + "<br/>")
                            });//endeach
                        });//end callback func and end get 2
                    },4000); //for auto refresh
        });
    };
    </script>
{% endblock %}